path {
  stroke: white;
  stroke-width: 0.25px;
  fill: #D0D3D4;
} 

image {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
}

.circle {
	opacity: 0.2;
} 

.mark{
	border-image: 30 30 repeat;
}
.mark:hover {
	opacity: 0.3;

}
